---
import Title from "@components/pokemons/shared/Title.astro";
import PokemonCard from "../components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "../interfaces/pokemon-list.response";
import MainLayout from "../layouts/MainLayout.astro";

const respuesta = await fetch("https://pokeapi.co/api/v2/pokemon/");
const data = (await respuesta.json()) as PokemonListResponse;

console.table(`data ${data}`);
const title = "Pokemon Static | Home ";
---

<MainLayout title={title}>
	<Title>Listado</Title>
	<ul>
		<section
			aria-label="Listado de Pokemons"
			class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-5"
		>
			{
				data.results.map((pokemon) => (
					<PokemonCard name={pokemon?.name} url={pokemon?.url} />
				))
			}
		</section>
	</ul>
</MainLayout>
