---
import { FavoritePokemons } from "@components/pokemons/FavoritePokemons";
import { Counter } from "@components/pokemons/shared/Counter";
import Title from "@components/pokemons/shared/Title.astro";
import MainLayout from "src/layouts/MainLayout.astro";
---

<MainLayout title="Favoritos">
    <Title>Favoritos</Title>
    <FavoritePokemons client:only="solid-js" />
</MainLayout>
